div
  label From:
    input(id='lift-from', name='lift[from]', value=lift.from || '')
    input(id='lift-from-coord', name='lift[from_coord]', type='hidden')
div
  label To:
    input(id='lift-to', name='lift[to]', value=lift.to || '')
    input(id='lift-to-coord', name='lift[to_coord]', type='hidden')
div
  label Date:
    input(name='lift[date]', value=lift.date || '')
div
  label Time:
    input(name='lift[time]', value=lift.time || '')
div
  label Time flexibility:
    input(name='lift[time_flexibility]', value=lift.time_flexibility || '')
div
  input(type='submit', value='Save')