h2 All lifts

ul
each lift, i in lifts
  li
    #{lift.from}, #{lift.to}, #{lift.date}, #{lift.time}, #{lift.time_flexibility}
    a(href='/lifts/#{lift._id}', title='Show lift') Show
    a(href='/lifts/#{lift._id}/edit', title='Edit lift') Edit
    a(href='/lifts/#{lift._id}/delete', title='Delete lift') Delete

a(href='/lifts/new', title='New lift') New